.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.window {
  position: absolute;
  padding: 30px;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  margin: 20px 0 0 0;
  width: 400px;
  height: 100%;
  background-color: rgba(113, 175, 250, 0.715);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.588),
    0 6px 20px 0 rgba(0, 0, 0, 0.577);
}

.mainIcon {
  position: relative;
  height: 200px;
  margin-right: 0;
  text-align: center;
}

.mainIconDisplay {
  font-size: 50px;
  position: absolute;
  background-repeat: no-repeat;
  right: 30px;
  top: 70px;
  height: 180px;
  width: 180px;
  background-size: 100%;
}
